body {
    text-align: center;
    background-color: #4f4f4d;
}

#grid-container {
    width: 100vh;
    height: 80vh;
    display: flex;
    margin: auto;
    margin-top: 10px;
    
    background-color: black;
}

.row .grid-item {
    border: 1px solid #d9d7d7;
    width: 16px;
    height: 16px;
}

#btn {
    width: 100px;
    height: 26px;
    margin-left: 10px;
    background-color: #363535;
    border: 1px solid;
    color: white;
}

#input {
    width: 120px;
    height: 22.8px;
    background-color: #d9d7d7;
}

#input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item {
    background-color: #363534;
}
